@model R3MUS.Devpack.Recruitment.ViewModels.PageViewModel
@using R3MUS.Devpack.Recruitment.Extensions;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Eve Online Screening!</h1>
    <p class="lead">
		Eve Online Screening has been developed to provide a trusted third party web platform that allows corporation recruiters and potential recruits to 
		interact. Since the demise of the API Key / Verification Code system &amp; this has been an area of weakness that was traditionally filled by applications that are no longer maintained.
	</p>
	<p>@Html.ActionLink(string.Concat("Learn more "), "About", null, new { @class="btn btn-primary btn-lg continue" })</p>
</div>

<div class="row">
	<div class="col-md-6">
		<a href="~/Applicant/Apply">
			<div id="area-a" class="option-selector">
				<h3>Submit my screening information</h3>
				<h4>This will redirect you to the Eve Online Single Sign-On website</h4>
				<img src="~/Images/eve-sso-login-black-large.png" />
			</div>
		</a>
	</div>
    <div class="col-md-6">
		<a href="~/Screener/Login">
			<div id="area-b" class="option-selector">
				<h3>Screen an applicant to your corporation</h3>
				<h4>This will redirect you to the Eve Online Single Sign-On website</h4>
				<img src="~/Images/eve-sso-login-black-large.png" />
			</div>
		</a>
	</div>
</div>