@model R3MUS.Devpack.Recruitment.ViewModels.ApplicantPageViewModel

@{
    ViewBag.Title = "Finalise Options";
}

<h2>Finalise Options</h2>

<div class="row">
	@Html.Partial("_CharacterModelView", Model.Applicant.Applicant)
</div>
<div id="accordian">
	<div class="row">
			@Html.Partial("_EmploymentHistory", Model.Applicant.Applicant.EmploymentHistory)
			@Html.Partial("_ContactsView", Model.Applicant.Contacts)
		</div>
	<div class="row">
		@Html.Partial("_MailSummaryModelView")
	</div>
</div>