<div class="col-md-6">
	<h3 class="option-selector" onclick="slideToggle('contactModal')">Contacts</h3>
	<div id="contactModal" style="display: none;"><!-- class="modal fade" role="dialog">-->
		<div class="modal-dialog">
			@*<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Contacts</h4>
					<button type="button" class="close pull-right" data-dismiss="modal">X</button>
				</div>
				<div class="modal-body">*@
					<div class="row">
						<div class="col-md-4">&nbsp;</div>
						<div class="col-md-4">
							<div class="col-sm-4">&nbsp;</div>
							<div id="loading-contacts" class="col-sm-2 loader"></div>
						</div>
						<div class="col-md-4">&nbsp;</div>
					</div>
					<div id="contact-modal-dialog">							
					</div>
				</div>
			@*</div>
		</div>*@
	</div>
	<script>
		getContacts();
	</script>
</div>